@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e4e2dd;
  color: #545454;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  color: #333;
  text-align: center;
}

p {
  color: #666;
  text-align: center;
}
